@import url(https://fonts.googleapis.com/css?family=Open+Sans);
 
.search {
  width: 75%;
  height: 100%;
  position: relative;
  display: flex;
  border: none!important;
}

.searchTerm {
  width: 600px;
  height: 100%;
  border: 3px solid #e7ab3c;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 1px solid #e7ab3c;
  background: #e7ab3c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-item:hover   {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}