@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.g-signin2{
  margin-top:5px!important;
}
 
.search {
  width: 100%!important;
  height: 100%;
  position: relative;
  display: flex;
  border: none!important;
}

.searchTerm {
  width: 600px;
  height: 100%;
  border: 3px solid #e7ab3c;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 20%!important;
  height: 45px;
  border: 1px solid #e7ab3c;
  background: #e7ab3c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-item:hover   {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

form .group-input textarea{
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 116px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 0px;
	margin-bottom: -10px;
}


.onoffswitch {
  position: relative; width: 60px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 25px; padding: 0; line-height: 25px;
  border: 2px solid #E3E3E3; border-radius: 25px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 25px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 33px;
  border: 2px solid #E3E3E3; border-radius: 25px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #141d26;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #141d26;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
}

.pagination{
  width: 50%;
  margin: 0 auto;
  
}

.page-btn{
  transition: background-color .2s;
  border-radius: 5px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin:5px; 
  background-color:#e7ab3c !important;
}

.page-btn.active{
  background-color: #4CAF50!important;
  color: white!important;
}
.page-btn:hover:not(.active) {background-color: #ddd!important;color: #4caf50 !important;}

#pageJump {
  background-color: #a16333 !important;
}